.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  font-size: 5.3em;
  margin: 0;
  padding: 0;
}

p {
  font-size: 10.9em;
  color: #333;
  padding-bottom: 120cap;

}

